In [4]:
#basics 

t = (1, 2, 3, 4, 5)
print(t)
print(t[2])
# tuple[3] = 1 -> this wont work because it is immutable 

a = [x**3 for x in range(1,100,2)]
print(a)

b = [x/2 for x in range(10) if x%2==0]
print(b)

(1, 2, 3, 4, 5)
3
[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859, 9261, 12167, 15625, 19683, 24389, 29791, 35937, 42875, 50653, 59319, 68921, 79507, 91125, 103823, 117649, 132651, 148877, 166375, 185193, 205379, 226981, 250047, 274625, 300763, 328509, 357911, 389017, 421875, 456533, 493039, 531441, 571787, 614125, 658503, 704969, 753571, 804357, 857375, 912673, 970299]
[0.0, 1.0, 2.0, 3.0, 4.0]

In [5]:
#Lambda function 
x = lambda a : a**2+1
print(x(1))


#map function
b = [1,2,4,5]
print(list(map(x,b)))

2
[2, 5, 17, 26]

In [6]:
#multiple list map
a1 = [1,2,3]
a2 = [4,5,6]

list(map(lambda x,y : x+y, a1,a2))

[5, 7, 9]

In [7]:
#str to int
str = "122345353"
print(type(str))
print(list(map(lambda x : int(x), str))[1])
print(type(list(map(lambda x : int(x), str))[0]))

<class 'str'>
2
<class 'int'>