In [16]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "First#1234"
)

Database and python is connected now

In [6]:
dbcursor = conn.cursor()

Cursor bna diya command ko execute krne keliye DB me

In [ ]:
dbcursor.execute("CREATE DATABASE NITGoa")

In [9]:
dbcursor.execute("CREATE DATABASE IF NOT EXISTS IITGoa")

Yha upar maine do database bana liya h : NITGoa aur IITGoa

In [15]:
dbcursor.execute("SHOW DATABASES")
for i in dbcursor: print(i)

('iitgoa',)
('information_schema',)
('mysql',)
('nitgoa',)
('performance_schema',)
('school',)
('sys',)

Yha upar databse cursor ke help se maine sql query run kiya aur saara db dekha liya

# Yha se NITGoa Database keliye kaam hua h

In [8]:
NITGoaConn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "First#1234",
    database = "NITGoa"
)

Yha upar maine Nitgoa DB ka connection bnaya aur uska cursor create kiya

In [66]:
def nitgcreatetables(CTables):
    nitgcursor = NITGoaConn.cursor()
    for table in CTables:
        query = f"""CREATE TABLE IF NOT EXISTS {table} (
            name VARCHAR(255),
            age INT(10),
            address VARCHAR(255),
            placement VARCHAR(255),
            backlog VARCHAR(255)
        )"""
        nitgcursor.execute(query)
    NITGoaConn.commit()

In [11]:
# Learn : 
# 1. without column table can't be created 
# 2. executemany won't work here because one by one each table with their columne we are creating
# 3. Yha pe f"" -> lgana pada query me qki comment me Table name daalna tha 
# 4. nitgcursor.execute(query) :: we need to keep this inside loop so that it will execute every time

In [67]:
def nitgdeletetables(DTable):
    nitgcursor = NITGoaConn.cursor()
    for table in DTable:
        query = f"DROP TABLE {table}"
        nitgcursor.execute(query)
    NITGoaConn.commit()

In [13]:
def nitgread():
    cursor = NITGoaConn.cursor()
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()
    cursor.close()
    return tables

Yha pe maine table CREATE DELETE aur READ krneka function banaya

In [ ]:
DTable = ["AEE1","AEE2","AEE3","AEE4"]
nitgdeletetables(DTable)

In [ ]:
CTables = ["CSE","EEE","ECE","CVE","MCE"]
nitgcreatetables(CTables)

In [14]:
nitgread()

[('cse',), ('cve',), ('ece',), ('eee',), ('mce',)]

Yha pe maine CREATE DELETE aur READ Table ka function call kiya

In [16]:
def Tabledata(Tables,data):
    nitgcursor = NITGoaConn.cursor()
    for tb in Tables:
        query = f"INSERT INTO {tb} (name,age,address,placement,backlog) VALUES (%s,%s,%s,%s,%s)"
        nitgcursor.executemany(query,data)  
    nitgcursor.close()
    NITGoaConn.commit()

In [30]:
def deletedata(DTable,row):
    nitgcursor = NITGoaConn.cursor()
    query = f"DELETE FROM {DTable} ORDER BY name LIMIT {row}"
    nitgcursor.execute(query)
    nitgcursor.close()

In [21]:
def readdata(RTable):
    nitgcursor = NITGoaConn.cursor(buffered=True)
    query = f"SELECT * FROM {RTable}"
    nitgcursor.execute(query)
    row = nitgcursor.fetchall()
    nitgcursor.close()
    return row

Table ke ander ke Data ko READ DELETE aur INSERT krne keliye function bnaya h

In [31]:
DTable = "CSE"
row = 20
deletedata(DTable,row)

In [ ]:
data = [
    ('Amber', 22, 'Bihar', 'yes', 3)
]
Tables = ["CSE"]
Tabledata(Tables,data)

In [40]:
RTable = "CSE"
readdata(RTable);

Particular table ke data READ INSERT AUR DELETE krne keliye function call ho rha

# Ab yha se IITGoa database pe kaam hua h

In [41]:
IITGoaconn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "First#1234",
    database = "IITGoa"
)

Connection Establish kiya IITGoa ke database se

In [74]:
def iitgcreatetables(CTable):
    iitgcursor = IITGoaconn.cursor()
    for tb in CTable:
        query = f"CREATE TABLE {tb} (name VARCHAR(255), age INT(10), address VARCHAR(255), placement VARCHAR(255), backlog INT(10))"
        iitgcursor.execute(query)
    iitgcursor.close()

In [59]:
def iitgdeletetables(DTable):
    iitgcursor = IITGoaconn.cursor()
    for tb in DTable :
        query = f"DROP TABLE {tb}"
        iitgcursor.execute(query)
    iitgcursor.close()

In [52]:
def iitgreadtables():
    iitgcursor = IITGoaconn.cursor()
    query = "SHOW TABLES"
    iitgcursor.execute(query)
    row = iitgcursor.fetchall()
    iitgcursor.close()
    return row

Yha pe maine table CREATE DELETE aur READ krneka function banaya

In [80]:
CTable = ["CSE", "IT"]
iitgcreatetables(CTable)

In [78]:
DTable = ["CSE", "IT"]
iitgdeletetables(DTable)

In [81]:
iitgreadtables()

[('cse',), ('it',)]

Yha pe maine CREATE DELETE aur READ Table ka function call kiya

In [ ]:
def iitgdatainsert(insertdata,table):
    iitgcursor = IITGoaconn.cursor()
    for tb in table:
        query = f"INSERT INTO {tb} ( name, age, address, placement, backlog) VALUES (%s, %s, %s, %s, %s)"
        iitgcursor.executemany(query,insertdata)
    iitgcursor.close()
    IITGoaconn.commit()

In [99]:
def iitgdeletedata(dtable,row):
    iitgcursor = IITGoaconn.cursor()
    query = f"DELETE FROM {dtable} ORDER BY name LIMIT {row}"
    iitgcursor.execute(query)
    iitgcursor.close()
    IITGoaconn.commit()

In [73]:
def iitgreaddata(rtable):
    iitgcursor = IITGoaconn.cursor()
    query = f"SELECT * FROM {rtable}"
    iitgcursor.execute(query)
    row = iitgcursor.fetchall()
    iitgcursor.close()
    return row

Yha pe maine CREATE DELETE aur READ Table ka function bnaya

In [102]:
insertdata = [
    ("Amber", 23, "Bihar", "Yes", 0),
    ("suraj", 24, "jharkhand", "Yes", 3)
]
table = ["IT"]
iitgdatainsert(insertdata,table)

In [105]:
readdata = "IT"
iitgreaddata(readdata);

In [100]:
deletedata = "IT"
row = 2
iitgdeletedata(deletedata,row)

Yha pe maine particular table me Data INSERT DELETE aur READ Table ka function call kiya